<div class="container foot">
  <div class="menu">
    <ul class="list-inline tabs-underlined ">
      <li>
         <%= link_to "My bookings", dashboard_path, class: "tab-underlined active" %>
      </li>
      <li>
        <%= link_to "My favorites", myfavorites_path, class: "tab-underlined"%> 
      </li>
      <li>
        <%= link_to "My kitchens", mykitchens_path, class: "tab-underlined" %>
      </li>
      <li>
        <%= link_to "Add kitchen", new_kitchen_path, class: "tab-underlined"%> 
      </li>
    </ul>
  </div>
  
  <div class="kitchen">
    <% @kitchens.each do |kitchen| %>
      <div class="card-mykitchen">
        <div class="card-mykitchen-infos">
          <%= cl_image_tag kitchen.photo %>
            <div class="card-details">
              <h4 class="card-mykitchen-subtitle"><%= kitchen.name %> </h4> 
              <h5><%= kitchen.address %></h5>
              <h5>TOTAL PRICE€ + dates</h5>
            </div>
        </div>
        <div class="status">
          <h5 class="mr-5">Pending</h5>
        </div>
      </div>
    <% end %>
  </div>
</div>

