<div class="container foot">
  <div class="menu">
    <ul class="list-inline tabs-underlined ">
      <li>
         <%= link_to "My bookings", dashboard_path, class: "tab-underlined active" %>
      </li>
      <li>
        <%= link_to "My favorites", myfavorites_path, class: "tab-underlined"%>
      </li>
      <li>
        <%= link_to "My kitchens", mykitchens_path, class: "tab-underlined" %>
      </li>
    </ul>
  </div>

  <div class="kitchen">
    <% @bookings.each do |booking| %>
      <div class="card-mykitchen">
        <div class="card-mykitchen-infos">
          <%= cl_image_tag booking.kitchen.photo %>
            <div class="card-details">
              <h4 class="card-mykitchen-subtitle"><%= booking.kitchen.name %> </h4>
              <p><i><%= booking.kitchen.address %></i></p>
              <h6>Total of <strong><%= (booking.end_date - booking.start_date).to_i * booking.kitchen.price %>€</strong> from <strong><%= booking.start_date %></strong>  to <strong><%= booking.end_date %></strong></h6>
            </div>
        </div>
        <div class="status">
          <div>
            <% if Time.now > booking.end_date %>
              <%= link_to new_kitchen_review_path(booking.kitchen) do %>
                <i class="fas fa-comment-dots" style="font-size: 40px;"></i>
              <% end %>
            <% elsif booking.status == "Accepted" %>
              <h5 class="mr-5 text-success booking-status-accepted"><%= booking.status %></h5>
            <% elsif booking.status == "Declined" %>
              <h5 class="mr-5 text-danger booking-status"><%= booking.status %></h5>
            <% else %>
              <h5 class="mr-5 text-warning booking-status"><%= booking.status %></h5>
            <% end %>
              <button type ="button" class="fas fa-times" data-toggle="modal" data-target="#confirm"></button>
              <%= render 'modal_confirm', booking: booking %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
