<div class="container text-center">
  <div class="menu">
    <ul class="list-inline tabs-underlined ">
      <li>
        <%= link_to "My bookings", dashboard_path, class: "tab-underlined" %>
      </li>
      <li>
        <%= link_to "My favorites", myfavorites_path, class: "tab-underlined"%>
      </li>
      <li>
        <%= link_to "My kitchens", mykitchens_path, class: "tab-underlined active" %>
      </li>
    </ul>
  </div>
</div>

<div class="container foot dash">
  <div class="main-card">
    <div class="kitchen">
      <h4 class="text-center mb-3">Kitchens</h4>
    <% @kitchens.each do |kitchen| %>
      <div class="card-mykitchen">
        <div class="card-mykitchen-infos">
          <%= cl_image_tag kitchen.photo %>
            <div class="card-details">
              <h4 class="card-mykitchen-subtitle"><%= kitchen.name %> </h4>
              <p><i><%= kitchen.address %></i></p>
              <% if kitchen.bookings.count == 0 %>
                <h6>No bookings yet... don't loose hope :)</h6>
              <% elsif  kitchen.bookings.count == 1 %>
                <h6>Booked for a total of <%= kitchen.bookings.count %> time</h6>
              <% else %>
                <h6>Booked for a total of <%= kitchen.bookings.count %> times</h6>
              <% end %>
            </div>
        </div>
      </div>

    <% end %>
      <div class='text-center mt-3'>
        <%= link_to new_kitchen_path do  %>
          <i title="Add a new kitchen!" data-toggle="tooltip" data-placement="bottom" class="fas fa-plus-square"></i>
        <% end %>
      </div>
      </div>
    <div class="requests">
      <h4 class="text-center mb-3">Requests</h4>
    <% @bookings.flatten.each do |booking| %>
    <% user = User.find(booking.user_id) %>
    <div class="card-product">
        <div class="card-product-infos">
          <%= cl_image_tag user.photo, class: "avatar" %>
            <div class="card-details">
              <% if booking.status == "Pending" %>
                <div class="text-pending">
                  <h4><%= user.username %> wants to book your kitchen <%= booking.kitchen.name %></h4>
                  <h6>For a total of <strong><%= (booking.end_date - booking.start_date).to_i * booking.kitchen.price %>€</strong> from <strong><%= booking.start_date %></strong>  to <strong><%= booking.end_date %></strong> <i>(<%= (booking.end_date - booking.start_date).to_i %>days)</i></h6>
                </div class="text-confirmed">
                <% elsif booking.status == "Accepted" %>
                  <div>
                    <h4><%= user.username %> has booked your kitchen <%= booking.kitchen.name %></h4>
                    <h6>For a total of <strong><%= booking.price %>€</strong> from <strong><%= booking.start_date %></strong>  to <strong><%= booking.end_date %></strong><i>(<%= (booking.end_date - booking.start_date).to_i %>days)</i></h6>
                  </div>
              <% end %>
            </div>
        </div>
        <div>
          <% if booking.status == "Pending" %>
            <div class="d-flex mr-5">
              <%= link_to booking_accept_path(booking), method: :patch do %>
                <i class="fas fa-check-circle"></i>
              <% end %>
              <%= link_to booking_decline_path(booking) do %>
                <i class="fas fa-times-circle ml-5"></i>
              <% end %>
            </div>
          <% end %>
        </div>
    </div>
  <% end %>
  </div>

    </div>
  </div>
</div>


