<div class="container foot">
  <h1 class="text-center">Tell us about your kitchen !</h1>
  <%= simple_form_for @kitchen do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :address %>
    <%= f.input :price %>
    <div class="d-flex justify-content-around">
      <%= f.input :oven %>
      <%= f.input :microwave %>
      <%= f.input :thermomix %>
      <%= f.input :ricecooker %>
      <%= f.input :pastry_set %>
    </div>
    <%= f.input :other %>
    <%= f.input :photo, input_html: { class: 'd-none', id: 'photo-input' }, label_html: { class: 'upload-photo'}, label: '📷 Upload a photo' %>
    <%= image_tag "", width: 300, class: "hidden", id: "photo-preview"%>
    <%= f.input :photo_cache, as: :hidden %>


    </div>
  <% end %>
</div>


