<h1 class="text-center" style="padding-top: 10px">one Love, one Meal, one Kitchen</h1>

<div class="content d-flex">
  <div class="card-container">

    <div class="card-kitchen-index row">
      <% @kitchens.each do |kitchen| %>
          <div class="card-kitchen col-4" id="card-kitchen-index-width">
              <%= cl_image_tag kitchen.photo, height: 700, width: 700, crop: :fill %>
            <div class="card-kitchen-infos">
              <div>
                <% if policy(kitchen).show? %>
                <h2><%= link_to "#{kitchen.name}", kitchen_path(kitchen), {:style=>'color:#484848; text-decoration: none', :class => "css_class"} %></h2>
                <% end %>
                <p style="text-align: justify;"><%= kitchen.description %></p>
              </div>
              <h2 class="card-kitchen-pricing" style="display: inherit"><%= kitchen.price %>€</h2>
            </div>
            <% if policy(kitchen).show? %>
            <div class="super-link">
              <%= link_to "", kitchen_path(kitchen), class: "card-link" %>
              <i class="far fa-heart"></i>
            </div>
            <% end %>
          </div>
      <% end %>
    </div>
  </div>
  <div id="map" class="map-index" data-markers="<%= @markers.to_json %>"
 data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>



